DISCORD_TOKEN=your_token_here
BOT_CLIENT_ID=your_client_id_here
GUILD_ID=your_guild_id_here
DATABASE_URL="postgresql://username:password@host:port/database"
SHADOW_DATABASE_URL="postgresql://username:password@host:port/database_shadow"